<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.orchestrator</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>-l</string>
      <string>-c</string>
      <string>~/.orc/bin/service-start</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/tmp/orc-service.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/orc-service.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>EnableGlobbing</key>
    <true/>
  </dict>
</plist>